<ng-container *ngIf="!dataGrid.expandedRowTemplate">
  <ng-template ngFor let-rowData let-rowIndex="index"
    [ngForOf]="(dataGrid.paginator && !dataGrid.lazy) ? ((dataGrid.filteredValue||dataGrid.value) | slice:dataGrid.first:(dataGrid.first + dataGrid.rows)) : (dataGrid.filteredValue||dataGrid.value)"
    [ngForTrackBy]="dataGrid.rowTrackBy">
    <ng-container
      *ngTemplateOutlet="template; context: {$implicit: rowData, rowIndex: dataGrid.paginator ? (dataGrid.first + rowIndex) : rowIndex, columns: columns}">
    </ng-container>
  </ng-template>
</ng-container>
<ng-container *ngIf="dataGrid.expandedRowTemplate">
  <ng-template ngFor let-rowData let-rowIndex="index"
    [ngForOf]="(dataGrid.paginator && !dataGrid.lazy) ? ((dataGrid.filteredValue||dataGrid.value) | slice:dataGrid.first:(dataGrid.first + dataGrid.rows)) : (dataGrid.filteredValue||dataGrid.value)"
    [ngForTrackBy]="dataGrid.rowTrackBy">
    <ng-container
      *ngTemplateOutlet="template; context: {$implicit: rowData, rowIndex: dataGrid.paginator ? (dataGrid.first + rowIndex) : rowIndex, columns: columns, expanded: dataGrid.isRowExpanded(rowData)}">
    </ng-container>
    <ng-container *ngIf="dataGrid.isRowExpanded(rowData)">
      <ng-container
        *ngTemplateOutlet="dataGrid.expandedRowTemplate; context: {$implicit: rowData, rowIndex: dataGrid.paginator ? (dataGrid.first + rowIndex) : rowIndex, columns: columns}">
      </ng-container>
    </ng-container>
  </ng-template>
</ng-container>
<ng-container *ngIf="dataGrid.isEmpty()">
  <ng-container *ngTemplateOutlet="dataGrid.emptyMessageTemplate; context: {$implicit: columns}"></ng-container>
</ng-container>